In [9]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\probook 430 g3\anaconda3\lib\site-packages (4.19.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\probook 430 g3\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: trio~=0.17 in c:\users\probook 430 g3\anaconda3\lib\site-packages (from selenium) (0.25.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\probook 430 g3\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\probook 430 g3\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\probook 430 g3\anaconda3\lib\site-packages (from selenium) (4.11.0)
Requirement already satisfied: cffi>=1.14 in c:\users\probook 430 g3\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: outcome in c:\users\probook 430 g3\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: exceptiongroup in c:\users\probook 430 g3\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\probook 430 g3\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: sortedcontainers in c:\users\probook 430 g3\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\probook 430 g3\anaconda3\lib\site-packages (from trio~=0.17->selenium) (23.2.0)
Requirement already satisfied: idna in c:\users\probook 430 g3\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: wsproto>=0.14 in c:\users\probook 430 g3\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\probook 430 g3\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\probook 430 g3\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\probook 430 g3\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

# Q1: In this question you have to scrape data using the filters available on the webpage You have to use the location and
salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the web page https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.

In [1]:
# import necessary libraries

import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [2]:
   # Initialize the WebDriver
driver = webdriver.Chrome()

In [3]:
# Open the naukri.com website
url = 'https://www.naukri.com/'
driver.get(url)

In [4]:
# enter designation and location
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [5]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Delhi/NCR')

In [6]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [7]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [8]:
# scraping job title from given page
title_tags=driver.find_elements(By.XPATH,'//div[@class=" row1"]/a')
for i in title_tags:
    title=i.text 
    job_title.append(title)
      
    
# scraping Job location from the page
location_tags = driver.find_elements(By.XPATH,'//div[@class="job-details "]/span[3]')
for i in location_tags:
    location = i.text
    job_location.append(location)
    
    
# scraping for Company name from given page
company_tags = driver.find_elements(By.XPATH,'//div[@class=" row2"]/span/a[1]')
for i in company_tags:
    company = i.text
    company_name.append(company)
    
    
# scraping Job experience from given page
experience_tags = driver.find_elements(By.XPATH,'//span[@class="expwdth"]')
for i in experience_tags:
    exp = i.text
    experience_required.append(exp)

In [9]:
job_title = job_title[:10]
job_location = job_location[:10]
company_name = company_name[:10]
experience_required = experience_required[:10]

In [10]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [11]:
# Create a DataFrame to store the data nd display the result
df=pd.DataFrame({
    'Job Title':job_title,
    'Job Location':job_location,
    'Company Name':company_name,
    'Experience Required':experience_required
})
df

,Job Title,Job Location,Company Name,Experience Required
0,"Senior Data Scientist, Reporting","Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Coursera,6-7 Yrs
1,"Data Scientist, Marketing","Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Coursera,4-6 Yrs
2,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Ford,3-6 Yrs
3,Analytics Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Ford,2-6 Yrs
4,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Ford,5-6 Yrs
5,,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Ford,2-7 Yrs
6,,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Agilite Global Solutions,7-8 Yrs
7,,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Tata Communications,3-6 Yrs
8,AI Data Scientist,"Hyderabad, Telangana, Gurugram, Haryana, Banga...",Genpact,6-11 Yrs
9,GenAI Data Scientist,"Hyderabad, Gurugram, Bengaluru",Genpact,8-13 Yrs

In [ ]:
# apply location filter and salary filter
location_filter = driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location_filter.click()

In [ ]:
# select delhi in location filter
delhi_button = driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")